<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des livres</title>
</head>
<body>
    <h1>Liste des livres</h1>
    <table border="1">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>ISBN</th>
            <th>Genre</th>
            <th>Année de publication</th>
        </tr>
        {% for livre in data %}
        <tr>
            <td>{{ livre[1] }}</td>
            <td>{{ livre[2] }}</td>
            <td>{{ livre[3] }}</td>
            <td>{{ livre[4] }}</td>
            <td>{{ livre[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
